<!DOCTYPE html>

<html>

<head>
    <title>Mango Web Builders</title>

    <link rel="stylesheet" href="styles.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">

</head>

<body>    
    <section id="top-row">
        <h1>Mango Web Builders</h1>
        <button class="us-buttons">Contact Us</button>
        <button class="us-buttons">Support Us</button>
    </section>
    <section id="catch">
        <p class="eye-catcher">
            <span class="yellow-ec"><strong>Quality</strong></span> Websites, For Cheap.
        </p>
        <p class="eye-catcher-backup"> Make websites great again!</p>
    </section>
    <section id="purpose-sec">
        <div class="purpose-text">
        <p class="purpose-title">
            Our Purpose
        </p>
        <p class="purpose-info">
            Info mation about mangos whole bunch of mangoes 
            this is why we do this it is because of mangoes 
            wow amngos mango filller words for mango and 
            our purpose holy many mango bro so tuff yo mango 
            bluds
        </p>
        </div>
        <div  class="purpose-img">
        <img src="./Resources/0000000003488.webp">
        </div>
    </section>
   <section id="pay-sec">
    <div id="pay-ops" class="small-option">
        <p class="title-pay">Small Websites</p>
        <ul class="info-pay">
            <li>Static</li>
            <li>No servers</li>
            <li>One page</li>
        </ul>
        <p class="price-text">Price:</p>
        <p class="prices-num">
            $100.00 USD <span class="competitor-price">$150.00 USD</span>
        </p>
        <button class="p-buttons">Purchase</button>
    </div>
    <div id="pay-ops" class="med-option">
        <p class="title-pay">Medium Websites</p>
        <ul class="info-pay">
            <li>Static</li>
            <li>No servers</li>
            <li>Multiple pages</li>
        </ul>
        <p class="price-text">Price:</p>
        <p class="prices-num">
            $200.00 USD <span class="competitor-price">$250.00 USD</span>
        </p>
        <button class="p-buttons">Purchase</button>
    </div>
    <div id="pay-ops" class="large-option">
        <p class="title-pay">Large Websites</p>
        <ul class="info-pay">
            <li>Dynamic</li>
            <li>Custom servers</li>
            <li>Multiple pages</li>
        </ul>
        <p class="price-text">Price:</p>
        <p class="prices-num">
            $300.00 USD <span class="competitor-price">$350.00 USD</span>
        </p>
        <button class="p-buttons">Purchase</button>
    </div>
</section>
</body>

</html>